@page "{name}"
@model VideoModel
@{
    ViewData["Title"] = "Video Page";
}

<p>Video Searched:</p>
<video width="400px" height="200px" src="https://localhost:5001/Video/DownloadVideo" controls>
    <source src="https://localhost:5001/Video/DownloadVideo" type="video/mp4">
</video>