@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}

<p>Search site</p>
<form method="get">
    <span asp-validation-for="Search" style="color: red; display: block;"></span>
    <input type="search" placeholder="Search here..." asp-for="Search">
    <button type="submit" asp-page="Search">Submit</button>
</form>

@if (Model.Videos != null)
{
    for (int i = 0; i < Model.Videos.Length; i++)
    {
        <p>@Model.Videos[i]</p>
    }
}